
@{
    ViewData["Title"] = "_Header";
}

<!-- Preloader Start -->
<div id="overlayer">
	<div id="spinner">
		<svg class="spinner-webkit" xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 54 54">
			<path d="M28.14,44a3.26,3.26,0,0,1,.53,1.63l.3,4.93a1.42,1.42,0,0,0,1.66,1.31A25.85,25.85,0,0,0,52.18,26.38v0A25.84,25.84,0,1,0,22.05,51.83a1.43,1.43,0,0,0,1.66-1.31L24,45.6a3.74,3.74,0,0,1,1.7-2.84l6.52-5.18a7.06,7.06,0,0,0,2.61-5.71L33.43,9.11A.16.16,0,0,0,33.26,9L32.18,9A1.4,1.4,0,0,0,30.9,10.4v15a1.46,1.46,0,0,1-1.46,1.46h0A1.46,1.46,0,0,1,28,25.45V10.79a1.65,1.65,0,0,0-1.65-1.65h0a1.65,1.65,0,0,0-1.65,1.65V25.45a1.46,1.46,0,0,1-1.46,1.46h0a1.46,1.46,0,0,1-1.46-1.46v-15A1.4,1.4,0,0,0,20.5,9L19.42,9a.16.16,0,0,0-.17.15L17.84,31.87a7.06,7.06,0,0,0,2.61,5.71l5.89,4.68"></path>
		</svg>
		<div class="spinner-ie"></div>
	</div>
</div>
<!-- Preloader End -->
<!-- Header Section Start -->
<header id="header-homepage1">
	<div class="header-full-section">
		<div class="header-logo">
			<a href="index.html">
				<img src="~/images/Homepage1/logo.png" alt="header-logo" class="homepage1-logo">
			</a>
		</div>
		<div class="header-menu-wrap">
			<div class="header-nav-wrap">
				<nav class="navbar navbar-expand-xl p-0">
					<div class="navbar-collapse" id="navbarSupportedContent">
						<div class="navbar-nav mx-auto align-items-center">
							<ul class="nav-left p-0">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle active" aria-current="page" href="javascript:void(0);">Home</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle " href="javascript:void(0);">
										Service
									</a>
									<ul class="dropdown-menu blog-menu-sub">
										<li class="has-sub-main">
											<a class="dropdown-item" href="menupage-5.html">All</a>
										</li>
										<li class="has-sub-main">
											<a class="dropdown-item" href="menupage-5.html">Wedding</span></a>
										</li>
										<li class="has-sub-main">
											<a class="dropdown-item" href="menupage-5.html">Anniversary</a>
										</li>
										<li class="has-sub-main">
											<a class="dropdown-item" href="javascript:void(0);">Birthday</a>
										</li>
										<li class="has-sub-main">
											<a class="dropdown-item" href="single-shop.html">Meetings</a>
										</li>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle " href="javascript:void(0);">
										Pages
									</a>
									<ul class="dropdown-menu blog-menu-sub">
										<li class="has-sub-main">
											<a class="dropdown-item" href="javascript:void(0);">Our Chefs<span class="arrow-right-angle"></span></a>
											<ul class="has-sub-menu">
												<li><a class="dropdown-item" href="chefspage1.html">Our Chefs 1</a></li>
												<li><a class="dropdown-item" href="chefspage2.html">Our Chefs 2</a></li>
												<li><a class="dropdown-item" href="chefspage3.html">Our Chefs 3</a></li>
												<li><a class="dropdown-item" href="single-chefs-deatail-page.html">Single Chefs Details</a></li>
											</ul>
										</li>
										<li class="has-sub-main">
											<a class="dropdown-item" href="javascript:void(0);">Reservation<span class="arrow-right-angle"></span></a>
											<ul class="has-sub-menu">
												<li><a class="dropdown-item" href="reservation-1.html">Reservation 1</a></li>
												<li><a class="dropdown-item" href="reservation-2.html">Reservation 2</a></li>
												<li><a class="dropdown-item" href="reservation-3.html">Reservation 3</a></li>
											</ul>
										</li>
										<li class="has-sub-main">
											<a class="dropdown-item" href="historypage.html">Our History</a>
										</li>
										<li class="has-sub-main">
											<a class="dropdown-item" href="404-error.html">404 Error</a>
										</li>
										<li class="has-sub-main">
											<a class="dropdown-item" href="comming-soon.html">Coming Soon</a>
										</li>
										<li class="has-sub-main">
											<a class="dropdown-item" href="cart-view.html">Cart View</a>
										</li>
										<li class="has-sub-main">
											<a class="dropdown-item" href="checkout-page.html">Checkout</a>
										</li>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle " href="about-us.html">
										About Us
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="contact-us.html">Contact Us</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<div class="mobile-menu-wrap d-lg-none d-block">
			<div class="mb-header-left">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedmobile" aria-controls="navbarSupportedmobile" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedmobile">
					<span class="close-menu"><i class="fa-regular fa-xmark"></i></span>
					<nav id='cssmenu'>
						<ul class="open-detail-menu">
							<li>
								<a href='javascript:void(0);'>Home</a>
							</li>
							<li>
								<a href='javascript:void(0);'>Service</a>
								<ul class="sub-back-wrap">
									<li>
										<a href='javascript:void(0);'>All</a>
									</li>
									<li>
										<a href='javascript:void(0);'>Wedding</a>
									</li>
									<li>
										<a href='menupage-5.html'>Anniversary</a>
									</li>
									<li>
										<a href='javascript:void(0);'>Birthday</a>
									</li>
									<li>
										<a href='single-shop.html'>Meetings</a>
									</li>
								</ul>
							</li>
							<li>
								<a href='javascript:void(0);'>Pages</a>
								<ul class="sub-back-wrap">
									<li>
										<a href='javascript:void(0);'>Our Chefs</a>
										<ul>
											<li><a href="chefspage1.html">Our Chefs 1</a></li>
											<li><a href="chefspage2.html">Our Chefs 2</a></li>
											<li><a href="chefspage3.html">Our Chefs 3</a></li>
											<li><a href="single-chefs-deatail-page.html">Single Chefs Details</a></li>
										</ul>
									</li>
									<li>
										<a href='javascript:void(0);'>Reservation</a>
										<ul>
											<li><a href="reservation-1.html">Reservation 1</a></li>
											<li><a href="reservation-2.html">Reservation 2</a></li>
											<li><a href="reservation-3.html">Reservation 3</a></li>
										</ul>
									</li>
									<li>
										<a href='historypage.html'>Our History</a>
									</li>
									<li>
										<a href='404-error.html'>404 Error</a>
									</li>
									<li>
										<a href='comming-soon.html'>Coming Soon</a>
									</li>
									<li>
										<a href='cart-view.html'>Cart View</a>
									</li>
									<li>
										<a href='checkout-page.html'>Checkout</a>
									</li>
								</ul>
							</li>
							<li>
								<a href='about-us.html'>About us</a>
							</li>
							<li>
								<a href='contact-us.html'>Contact us</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="header-cart-sec">
			<div class="mobile-menu-icon">
				<a data-bs-toggle="collapse" href="#navbarSupportedmobile" role="button">
					<i class="fa-solid fa-bars"></i>
				</a>
			</div>
			<div class="header-cart-sec-first">
				@if (User.Identity.IsAuthenticated)
				{
					<a href="@Url.Action("ViewCart", "Customer")" class="cart-badge">
						<img src="~/images/Homepage1/cart-icon.svg" alt="cart-icon">
						<div class="cart-no">0</div>
					</a>
				}
				else
				{
					<a href="@Url.Action("Login", "Customer")" class="login-icon">
						<img src="~/images/Homepage1/login-icon.svg" alt="login-icon">
					</a>
				}
			</div>
		</div>
	</div>
	<div class="header-boder"></div>
</header>
<!-- Header Section End -->

