
@{
    ViewData["Title"] = "Checkout";
}

<!--Checkout  Section Start -->
<section id="Checkout-section">
	<div class="container line Checkout-section mt-100">
		<span class="line-3"></span>
		<span class="line-4"></span>
		<span class="line-5"> </span>
		<div class="Checkout-section-full">
			<div class="Checkoutpage-left">
				<form class="checkout-form1">
					<h2 class="d-none">Checkout</h2>
					<div class="bill-txt">
						<h3>Billing details</h3>
					</div>
					<div class="checkout-descrip">
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="text" class="custom-form-control" placeholder="First Name">
							</div>
						</div>
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="text" class="custom-form-control" placeholder="Last Name">
							</div>
						</div>
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="text" class="custom-form-control" placeholder="Company Name">
							</div>
						</div>
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="text" class="custom-form-control" placeholder="Country">
							</div>
						</div>
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="text" class="custom-form-control" placeholder="City">
							</div>
						</div>
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="number" class="custom-form-control" placeholder="State">
							</div>
						</div>
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="text" class="custom-form-control" placeholder="Street">
							</div>
						</div>
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="number" class="custom-form-control" placeholder="Postcode">
							</div>
						</div>
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="number" class="custom-form-control" placeholder="Phone">
							</div>
						</div>
						<div class="checkout-deatils">
							<div class="input-group custom-field">
								<input type="email" class="custom-form-control" placeholder="Email">
							</div>
						</div>
					</div>
					<div class="checkout-deatils">
						<div class="input-group custom-field">
							<textarea class="custom-form-control" rows="4" cols="100" placeholder="Other notes"></textarea>
						</div>
					</div>
					<div class="payment-method-type">
						<div class="bill-txt">
							<h3>Payment Method</h3>
						</div>
						<div class="payment-type">
							<div class="input-group custom-radio">
								<input type="radio" id="option-1" name="selector" checked="">
								<label for="option-1">Cash on delivery</label>
								<span class="lu-check"></span>
							</div>
							<div class="input-group custom-radio">
								<input type="radio" id="option-2" name="selector">
								<label for="option-2">Direct bank transfer</label>
								<span class="lu-check"></span>
							</div>
							<div class="input-group custom-radio">
								<input type="radio" id="option-3" name="selector">
								<label for="option-3">Check payments</label>
								<span class="lu-check"></span>
							</div>
							<div class="input-group custom-radio">
								<input type="radio" id="option-4" name="selector">
								<label for="option-4">Paypal</label>
								<span class="lu-check"></span>
							</div>
							<div class="place-order-btn">
								<a href="javascript:void(0)">Place Order</a>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="Checkoutpage-right">
				<div class="checkout-sec-full checkout-sec-full1 ">
					<div class="checkout-sec-left checkout-sec-left1">
						<img src="~/images/cart-view/checkout.png" alt="food-img" class="img-fluid">
					</div>
					<div class="checkout-sec-right checkout-sec-right1">
						<div class="cart-sec-coupon">
							<h4 class="chek-txt1">Total Cart (02)</h4>
							<p class="chek-txt2">subtotal: <span>$124.00</span></p>
							<p class="chek-txt3">delivery: <span>$00.00</span></p>
							<p class="chek-txt4">discount: <span>$10.00</span></p>
							<p class="total-txt"><span>total:</span> <span>$134.00</span></p>
							<div class="checkout-btn">
								<a href="cart-view.html">Back To Cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Checkout Section End -->
